<template>
  <div>
    <div class="footer">
      <hr class="divider" />
      <br /><br />
      <div>
        <span class="blur-foodpanda"
          ><img src="../assets/images/blur-foodpanda.png" alt="" /></span
        ><span class="contact-icon"><img src="../assets/images/contact-icon.png" /></span>
      </div>
      <br /><br />
      <hr class="divider" />
      <div style="color: #606060" class="contact-info">
        <br />
        <button class="中文">中文</button>
        <p>
          <span class="logo" id="footer__disclaimer">
            &copy; 2020 foodpanda
            <span style="color: white"
              >. . . .. . . . . . . .. . . . . . . . . . . . . . .</span
            ></span
          ><span class="total"
            >Contact Help Center Terms and conditions Privacy policy Partner with us</span
          >
        </p>
        <p>
          <span class="logo" id="support">support@goodpanda.hk </span
          ><span class="total"
            >How foodpanda works About Cashback Program Download foodpanda Apps Jobs</span
          >
        </p>
        <p>
          <span class="total"
            >Corporate Customer foodpanda Magazine foodpanda Vouchers & Coupons</span
          >
        </p>
        <p>
          <span class="total"
            >pandamart grocery delivery in Hong Kong Sustainability at foodpanda</span
          >
        </p>
      </div>
      <div>
        <br /><br /><br /><br /><br /><br /><br /><br />
        <div class="gaping"></div>
        <hr class="divider" />
        <br />
        <div class="popular-deliver">
          <h5>CHINESE FOOD DELIVERY</h5>
          <p class="deliv-sub-heading">
            Clinton's BBQ Fish (Tin Hau), Andy's Hot Pot, Nam Kee , Shanghai Dumpling
          </p>
        </div>
        <div class="popular-deliver">
          <h5>JAPANESE FOOD DELIVERY</h5>
          <p class="deliv-sub-heading">
            Pig House Japanese Restaurant, KoKon Fusion Japanese Cuisine , Osaka House,
            Omega 3
          </p>
        </div>
        <div class="popular-deliver">
          <h5>CHINESE FOOD DELIVERY</h5>
          <p class="deliv-sub-heading">
            Clinton's BBQ Fish (Tin Hau), Andy's Hot Pot, Nam Kee , Shanghai Dumpling
          </p>
        </div>
        <div class="popular-deliver">
          <h5>KOREAN FOOD DELIVERY</h5>
          <p class="deliv-sub-heading">
            Paisano's (Central), California Pizza Kitchen, La Terrazza Pizzeria, PHD
            (Mid-Level)
          </p>
        </div>
        <div class="popular-deliver">
          <h5>CHINESE FOOD DELIVERY</h5>
          <p class="deliv-sub-heading">
            Clinton's BBQ Fish (Tin Hau), Andy's Hot Pot, Nam Kee , Shanghai Dumpling
          </p>
        </div>
        <div class="popular-deliver">
          <h5>KOREAN FOOD DELIVERY</h5>
          <p class="deliv-sub-heading">
            Paisano's (Central), California Pizza Kitchen, La Terrazza Pizzeria, PHD
            (Mid-Level)
          </p>
        </div>
        <br /><br />
        <hr class="divider" />
        <br /><br />
      </div>
      <div>
        <p class="cities">
          Bulgaria | Romania | Pakistan | Bangladesh | Singapore | Malaysia | Philippines
          | Thailand | Taiwan | Japan | Cambodia | Myanmar | Laos
        </p>
        <br /><br /><br /><br /><br />
      </div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
