<template>
  <div>
    <!--      TOP NAVBAR -->
    <navbar />

    <!-- BOTTOM FOOTER FIXED YOUR CART FOR MOBILE -->
    <div class="your-cart">
      <h5>
        <span class="amount-y-cart">8</span><span class="view-y-cart">View your cart</span
        ><span class="price-y-cart">HK$620.1</span>
      </h5>
    </div>

    <!-- RIGHT FIXED YOUR CART FOR DESKTOP -->
    <cartdiv />
    <!--  end  -->

    <div class="main-div">

    <!-- TOP CONTAINER      -->
    <topcontainer />
    <!--  end  -->

      <!--      MENU LIST       -->
      <nav class="dish-menu-category-list">
        <div class="dish-control-holder">
          <div class="nav-holder" id="hello">
            <ul>
              <li v-for="items in menu" :key="items">
                <span
                  ><img src="../assets/images/left-arrow.png" class="left-arrow" /></span
                ><a class="scroll" :href="items.link" :title="items.title"
                  ><span>{{ items.name }}</span></a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!--  END  -->

      <div class="content">
        <div class="gap"><p style="color: white">.</p></div>
        <div class="gap"><p style="color: white">.</p></div>

        <!-- MENUE ITEMS -->
        <div v-for="product in category" :key="product">
          <div class="menue__list" :id="product.id">
            <h2>{{ product.categoryName }}</h2>
            <div class="seasonal-product" v-for="item in product.items" :key="item">
              <h4 class="product-heading">
                {{ item.heading }}
                <span class="product-img"
                  ><img :src="item.img" width="100px" height="100px"
                /></span>
              </h4>
              <span
                ><span class="product-price">{{ item.price }}</span></span
              >
              <span class="line-through"
                >{{ item.offprice }}
                <span class="product-add"
                  ><img src="../assets/images/ic-plus.png" width="24px" /></span
              ></span>
            </div>
          </div>
          <div class="gap"><p style="color: white">.</p></div>
        </div>
        <br /><br /><br /><br />
      </div>
    </div>
    <footerr />
  </div>
</template>

<script>
import navbar from './navbar.vue'
import cartdiv from './cartdiv.vue'
import footerr from './footerr.vue'
import topcontainer from './topcontainer.vue'

export default {
  components: {
    navbar,
    cartdiv,
    footerr,
    topcontainer
  },
  data () {
    return {
      category: [
        {
          categoryName: 'V. Seasonal Promotion',
          id: 'seasonal',
          items: [
            {
              heading: 'V1. Braised Abalone, Fish Fry ...',
              price: 'HK$83.70',
              offprice: 'Hk$93.00',
              img: 'https://images.deliveryhero.io/image/fd-hk/Products/91056145.jpg'
            },
            {
              heading: 'V2. Stir-fried Cured Meat with ...',
              price: 'HK$73.70',
              offprice: 'Hk$83.00',
              img: 'https://images.deliveryhero.io/image/fd-hk/Products/91056142.jpg'
            },
            {
              heading: 'V4. Snapper Slices with butter ...',
              price: 'HK$63.70',
              offprice: 'Hk$73.00',
              img: 'https://images.deliveryhero.io/image/fd-hk/Products/91056146.jpg'
            },
            {
              heading: 'V5. Stir-fried Cured Meat with ...',
              price: 'HK$113.70',
              offprice: 'Hk$153.00',
              img: 'https://images.deliveryhero.io/image/fd-hk/Products/91056142.jpg'
            }
          ]
        },
        {
          categoryName: 'A. Chinese Style Rice',
          id: 'chinese',
          items: [
            {
              heading: 'V1. Braised Abalone, Fish Fry ...',
              price: 'HK$83.70',
              offprice: 'Hk$93.00',
              img: 'https://images.deliveryhero.io/image/fd-hk/Products/91056145.jpg'
            },
            {
              heading: 'V2. Stir-fried Cured Meat with ...',
              price: 'HK$83.70',
              offprice: 'Hk$93.00',
              img: 'https://images.deliveryhero.io/image/fd-hk/Products/91056142.jpg'
            },
            {
              heading: 'V4. Snapper Slices with butter ...',
              price: 'HK$83.70',
              offprice: 'Hk$93.00',
              img: 'https://images.deliveryhero.io/image/fd-hk/Products/91056146.jpg'
            }
          ]
        },
        {
          categoryName: 'B. Fried Noodles',
          id: 'fried',
          items: [
            {
              heading: 'V1. Braised Abalone, Fish Fry ...',
              price: 'HK$835.70',
              offprice: 'Hk$93.00',
              img: 'https://images.deliveryhero.io/image/fd-hk/Products/91056145.jpg'
            },
            {
              heading: 'V2. Stir-fried Cured Meat with ...',
              price: 'HK$83.70',
              offprice: 'Hk$93.00',
              img: 'https://images.deliveryhero.io/image/fd-hk/Products/91056146.jpg'
            }
          ]
        },
        {
          categoryName: 'C. Local Flavour',
          id: 'local',
          items: [
            {
              heading: 'V1. Braised Abalone, Fish Fry ...',
              price: 'HK$83.70',
              offprice: 'Hk$93.00',
              img: 'https://images.deliveryhero.io/image/fd-hk/Products/91056145.jpg'
            },
            {
              heading: 'V2. Stir-fried Cured Meat with ...',
              price: 'HK$83.70',
              offprice: 'Hk$93.00',
              img: 'https://images.deliveryhero.io/image/fd-hk/Products/91056146.jpg'
            },
            {
              heading: 'V4. Snapper Slices with butter ...',
              price: 'HK$83.70',
              offprice: 'Hk$93.00',
              img: 'https://images.deliveryhero.io/image/fd-hk/Products/91056142.jpg'
            }
          ]
        },
        {
          categoryName: 'D. Noodle In Soup',
          id: 'chiu',
          items: [
            {
              heading: 'V4. Snapper Slices with butter ...',
              price: 'HK$835.70',
              offprice: 'Hk$93.00',
              img: 'https://images.deliveryhero.io/image/fd-hk/Products/91056142.jpg'
            },
            {
              heading: 'V2. Stir-fried Cured Meat with ...',
              price: 'HK$83.70',
              offprice: 'Hk$93.00',
              img: 'https://images.deliveryhero.io/image/fd-hk/Products/91056146.jpg'
            }
          ]
        },
        {
          categoryName: 'E. Eat Smart Restaurant',
          id: 'eat',
          items: [
            {
              heading: 'V4. Snapper Slices with butter ...',
              price: 'HK$83.70',
              offprice: 'Hk$93.00',
              img: 'https://images.deliveryhero.io/image/fd-hk/Products/91056142.jpg'
            },
            {
              heading: 'V2. Stir-fried Cured Meat with ...',
              price: 'HK$83.70',
              offprice: 'Hk$93.00',
              img: 'https://images.deliveryhero.io/image/fd-hk/Products/91056146.jpg'
            },
            {
              heading: 'V4. Snapper Slices with butter ...',
              price: 'HK$83.70',
              offprice: 'Hk$93.00',
              img: 'https://images.deliveryhero.io/image/fd-hk/Products/91056146.jpg'
            }
          ]
        }
      ],
      menu: [
        {
          link: '#seasonal',
          title: 'V. Seasonal Promotions',
          name: 'V. Seasonal Promotions'
        },
        {
          link: '#chinese',
          title: 'A. Chinese Style Rice',
          name: 'A. Chinese Style Rice'
        },
        {
          link: '#fried',
          title: 'B. Fried Noodles',
          name: 'B. noodles or instant Macanoni (07:00am - 10:45am)'
        },
        {
          link: '#local',
          title: 'C. Local Flavour',
          name: 'C. Local Flavour (10:45am - 01pm)'
        },
        {
          link: '#chiu',
          title: 'D. Chiu Chow Style Noodle in Soup',
          name: 'D. Noodle in Soup'
        },
        {
          link: '#eat',
          title: 'E. Eat Smart Restaurant',
          name: 'E. Eat Smart Restaurant'
        }
      ]
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.navbar {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  width: 100%;
  color: black;
  margin-bottom: 50px;
  margin-left: -8px;
  box-shadow: 0 0 10px 1px rgb(224, 224, 224);
  z-index: 99;
}

.logo {
  float: left;
  cursor: pointer;
}

.navbar a {
  float: right;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  margin-top: 5px;
}

.language {
  margin-right: 30px;
  position: relative;
  top: 4px;
}

.user-icon {
  position: absolute;
  top: 5px;
  margin-left: -40px;
}

.login {
  position: relative;
  top: 5px;
}

.cart-icon {
  margin-top: -4px;
}

.cart-div {
  width: 19%;
  float: right;
  font-family: "Open Sans", Arial, sans-serif;
  right: 0;
  overflow-y: auto;
  min-height: 100vh;
  background-color: #fff;
  padding-right: 4px;
  display: block;
  box-sizing: border-box;
  position: sticky;
  position: fixed;
  box-shadow: 0 0 1px 5px rgb(250, 250, 250);
}

.cart-sub {
  margin-top: 100px;
}

.toggle {
  position: relative;
  top: 7px;
}

.active {
  background-image: linear-gradient(120deg, #d72164 0%, #d72164 100%);
  background-repeat: no-repeat;
  background-size: 92% 2px;
  background-position: 150% 88%;
  transition: background-size 0.25s ease-in;
  span {
    font-weight: bold;
  }
}

@media only screen and (max-width: 1700px) {
  .footer {
    max-width: 70%;
    position: absolute;
    left: 70px;
  }
}

@media only screen and (min-width: 900px) {
  #mobile-img,
  .your-cart {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .login-txt,
  .verticle-line,
  .verticle-line2,
  .verticle-line3,
  .lang,
  #laptop-img {
    display: none;
  }
  .cart-div {
    display: none;
  }
  .logo {
    position: absolute;
    right: 110px;
    top: 5px;
  }
  .cart-icon {
    position: relative;
  }
  .user-icon {
    position: relative;
    left: -290px;
    top: -5px;
  }

  .hero-img {
    height: 185px;
    width: 100%;
  }
  .main-div {
    width: 100%;
    padding-left: 4px;
  }
  .info-icon {
    margin-right: 10px;
  }
  .hero-heading {
    font-size: 17px;
  }
  .seasonal-product {
    width: 90%;
    margin-left: -2px;
  }
  .product-img {
    margin-top: -20px;
    margin-right: 10px;
  }
  .product-add {
    margin-top: -5px;
  }
  .popular-deliver {
    text-align: center;
    width: 90%;
  }
  .deliv-sub-heading {
    text-align: start;
  }
  .gaping {
    margin-top: 110px;
  }
  .footer {
    width: 100%;
    max-width: 1070px;
    margin-left: -60px;
  }
  .product-price,
  .line-through {
    position: relative;
    top: 17px;
  }
  .contact-icon {
    margin-right: 20px;
  }
  .contact-info {
    margin-right: 30px;
  }
  #footer__disclaimer {
    margin-top: 430px;
    position: absolute;
    left: 115px;
  }
  #support {
    margin-top: 460px;
  }
  .nav-holder::-webkit-scrollbar {
    width: 0;
  }
}
@media only screen and (max-width: 500px) {
  .seasonal-product {
    width: 111%;
    height: 100px;
    margin-left: -28px;
    box-shadow: 0 0px 1px 0 rgb(149, 149, 149);
    border-bottom: 1px solid rgb(231, 231, 231);
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 1px;
  }
  .logo {
    position: absolute;
    right: 150px;
    top: 5px;
  }
  .user-icon {
    float: left;
    margin-left: 160px;
  }
  .cart-icon {
    margin-right: 33px;
  }
  .cities {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 415px) {
  .logo {
    position: absolute;
    right: 130px;
    top: 5px;
  }
  .user-icon {
    position: relative;
    left: -280px;
    top: -5px;
  }
}

@media only screen and (max-width: 392px) {
  .logo {
    position: absolute;
    right: 115px;
    top: 5px;
  }
  .user-icon {
    position: relative;
    left: -250px;
    top: -5px;
  }
  .seasonal-product {
    width: 111%;
    height: 100px;
    margin-left: -28px;
    box-shadow: 0 0px 1px 0 rgb(149, 149, 149);
    border-bottom: 1px solid rgb(231, 231, 231);
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 1px;
  }
}

@media only screen and (max-width: 369px) {
  .logo {
    position: absolute;
    right: 100px;
    top: 5px;
  }
  .user-icon {
    position: relative;
    left: -230px;
    top: -5px;
  }
  .cart-icon {
    margin-right: 27px;
  }
  .gap {
    width: 120%;
    position: relative;
    right: 30px;
  }
}

@import "../assets/style.css";
</style>
