.verticle-line {
    position: absolute;
    height: 65px;
    top: -9px;
    left: -5px;
    border-left: 1px solid rgb(231, 231, 231);
}

.verticle-line2 {
    position: absolute;
    height: 65px;
    top: -9px;
    left: -32px;
    border-left: 1px solid rgb(231, 231, 231);
}

.verticle-line3 {
    position: absolute;
    height: 65px;
    top: -9px;
    left: 70px;
    border-left: 1px solid rgb(231, 231, 231);
}

.your-cart {
    position: absolute;
    width: 90%;
    background: #d72164;
    bottom: 0px;
    margin-left: -2px;
    z-index: 1111;
    position: fixed;
    color: #fff;
    border-radius: 15px;
}

.amount-y-cart {
    float: left;
    position: relative;
    right: -20px;
    font-size: 16px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 6px 10px;
    margin-top: -5px;
}

.view-y-cart {
    text-align: center;
    margin-right: 25px;
    font-size: 16px;
    font-family: "Open Sans", Arial, sans-serif;
}

.price-y-cart {
    float: right;
    position: relative;
    right: 40px;
    font-size: 16px;
    margin-top: 2px;
}

.start-adding {
    color: rgb(143, 143, 143);
    font-size: 14px;
}

.totals-price {
    float: right;
}

.total {
    float: right;
}

.subtotals {
    margin-top: 30px;
}

.totals {
    margin-top: 30px;
    font-weight: bold;
    margin-bottom: 100px;
}

.totals-heading {
    float: left;
    margin-left: 15px;
}

.checkout-btn {
    background-color: #c2c2c2;
    border: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 14px;
    z-index: 1;
    text-align: center;
    height: 48px;
    padding: 0 100px;
    vertical-align: middle;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.checkout-btn:hover {
    background-color: #eee;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.main-div {
    font-family: "Open Sans", Arial, sans-serif;
    width: 81%;
}

.top-container {
    padding-top: 58px;
    margin-left: -8px;
}

.hero-img {
    background-size: cover;
    background-position: center;
    height: 385px;
    width: 100%;
}

.restu-branches {
    position: relative;
    width: 100%;
    max-width: 1070px;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
    color: #333333;
    font-family: "Open Sans", Arial, sans-serif;
}

.info-icon {
    float: right;
    margin-right: -70px;
    margin-top: -10px;
}

.multi-tag {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    display: inline-block;
    margin-right: 8px;
    color: #fff;
    background-color: #d70f64;
    padding: 2px 8px;
    line-height: 20px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.rates-div {
    margin-top: -10px;
}

.ratings-component {
    display: inline-block;
}

.star-svg {
    vertical-align: baseline;
    fill: #276fbf;
}

.rating {
    font-size: 12px;
    color: rgb(151, 151, 151);
}

.vendor-info-details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    font-weight: 300;
    color: #707070;
    text-align: left;
    font-size: 1rem;
    margin-top: -10px;
    cursor: pointer;
}

.vendor-info-ul {
    display: inline-block;
    list-style: none;
    padding: 0;
}

.data-speechify-sentence {
    display: inline-flex;
    font-size: 14px;
    padding-right: 7px;
}

.data-speechify-dot {
    padding-left: 7px;
    font-weight: bold;
    margin-top: -8px;
    font-size: 20px;
}

.deal {
    background-color: #fafafa;
    border-top: 1px solid rgb(231, 231, 231);
    border-bottom: 1px solid rgb(231, 231, 231);
}

.deal-wrapper {
    position: relative;
    width: 100%;
    max-width: 1070px;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
    color: #333333;
    font-family: "Open Sans", Arial, sans-serif;
    margin-top: -10px;
}

.deal-content::before {
    right: 0;
    top: 14px;
    bottom: 0;
    position: absolute;
    content: "";
    background: url(https://assets.foodora.com/0c462a3/img/deal-presents.svg) no-repeat;
    background-size: cover;
    width: 79px;
    height: 52px;
}

.deal-desc {
    margin-top: -20px;
    color: rgb(114, 114, 114);
    font-size: 14px;
}

.header {
    padding: 10px 16px;
    position: relative;
    width: 100%;
    max-width: 1070px;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
    font-family: "Open Sans", Arial, sans-serif;
}

.nav-ul {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    transition: -webkit-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    font-size: 14px;
}

.nav-ul li {
    white-space: nowrap;
    text-transform: uppercase;
    padding: 0 18px 0 0px;
}

.nav-ul li a {
    letter-spacing: 0.1px;
    color: rgb(102, 102, 102);
    text-decoration: none;
    font-size: 12px;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 45px;
    width: 100%;
}

.sticky+.content {
    padding-top: 102px;
}

.dish-menu-category-list {
    background-color: #fff;
    overflow: hidden;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    z-index: 10;
    top: 63px;
    margin-left: -2px;
}

.dish-menu-category-list .nav-holder {
    position: relative;
    overflow-x: auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    position: relative;
    width: 100%;
    max-width: 1070px;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
    color: #333333;
    font-family: "Open Sans", Arial, sans-serif;
    background-color: white !important;
    z-index: 99;
}

.nav-holder ul li a {
    font-size: 12px;
}

.nav-holder {
    border-bottom: 1px solid rgb(223, 223, 223);
}

.nav-holder ul li a:hover {
    background-image: linear-gradient(120deg, #d72164 0%, #d72164 100%);
    background-repeat: no-repeat;
    background-size: 100% 2px;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
}

.nav-tabs ul,
.dish-menu-category-list ul {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    transition: -webkit-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.dish-menu-category-list li {
    padding: 0 0 0 16px;
    white-space: nowrap;
    text-transform: uppercase;
}

.nav-tabs li a,
.dish-menu-category-list li a,
.nav-tabs .tab,
.dish-menu-category-list .tab {
    position: relative;
    overflow: hidden;
    height: 64px;
    line-height: 64px;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 0.1px;
    color: #333;
    text-decoration: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.left-arrow {
    position: absolute;
    top: 18px;
    left: -4px;
    cursor: pointer;
}

.right-arrow {
    position: absolute;
    top: 18px;
    right: -17px;
    cursor: pointer;
}

.gap {
    background-color: rgb(240, 240, 240);
    height: 5px;
    margin-top: -10px;
}

.menue__list {
    position: relative;
    width: 100%;
    max-width: 1070px;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
    color: #333333;
    font-family: "Open Sans", Arial, sans-serif;
    text-align: start;
}

.line-through {
    text-decoration: line-through;
    color: #7c7c7c;
    margin-left: 10px;
}

.seasonal-product {
    width: 46%;
    height: 100px;
    padding: 10px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
}

.product-heading {
    font-size: 15px;
}

.product-price {
    font-size: 13px;
}

.product-img {
    float: right;
    margin-top: -20px;
}

.product-add {
    float: right;
    margin-top: 14px;
    margin-right: -101px;
}

.footer {
    position: relative;
    width: 100%;
    max-width: 1070px;
    margin-left: auto;
    margin-right: auto;
    color: #333333;
    font-family: "Open Sans", Arial, sans-serif;
    max-width: 50%;
    position: absolute;
    left: 300px;
}

.divider {
    border: none;
    border-bottom: 1px solid rgb(228, 228, 228);
}

.中文 {
    width: 66.67%;
    display: block;
    margin: 0 auto 16px;
    z-index: 1;
    cursor: pointer;
    position: relative;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #d72164;
    color: #d72164;
    background-color: #fff;
    padding: 0 15px;
    line-height: 46px;
    display: inline-block;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.blur-foodpanda {
    float: left;
    margin-top: -13px;
}

.contact-icon {
    float: right;
    margin-top: -20px;
}

.popular-deliver {
    text-align: start;
    width: 33%;
    display: inline-block;
}

.deliv-sub-heading {
    font-size: 14px;
    padding-right: 10px;
    margin-top: -10px;
    color: rgb(146, 146, 146);
}

.cities {
    font-size: 14px;
    word-spacing: 4px;
    color: rgb(146, 146, 146);
}